body {
  font-family: "Montserrat", sans-serif;
  background: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("/assets/trawnik.webp");
  background-size: cover;
  background-position: center;
  text-align: center;
  top: 0;
}

h1 {
  font-weight: bold;
  font-size: 3rem;

}

h2 {
  font-size: 1.5rem;
  animation: letterFadeIn 1.5s ease-out;
}

.info {
  font-size: 1.1rem;
  display: block;
  max-width: 500px; 
  text-align: center;
  word-wrap: break-word;
}

.source {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #ffffffa7;
  text-align: right;
}

hr {
  color: #ffffff;
  width: 90%;
}
.letter {
  display: inline-block;
  opacity: 0;
  animation: letterFadeIn 0.1s ease forwards;
}

@keyframes letterFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.back-button {
  color:#ffffff;
  justify-content: left;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: 1px;
  border-radius: 5px;
  border-color: #ffffff;
  margin-bottom: 20px;
}

.links {
  display: flex;
  justify-content: center;
}
.links a {
  margin-right: 10px;
  color: #ffffff;
  }

.main-info {
  display: flex;
  flex-direction: row;
  padding: 20px;
  align-self: center;
}
.image-container {
  width: 400px; 
  height: 600px;
  display: flex;
  justify-content: center;
  object-fit: cover;
  background-color: grey;
  border-radius: 20px;
}

.text-container {
  padding-right: 20px;
}
.map-embed iframe {
  height: 100%;
  width: 100%;
  border-radius: 20px;
}

.map-embed {
  width: 80%;
  height: 600px;
  background-color: grey;
  border-radius: 20px;
}

.authors {
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: #ffffffa7;
  display: block;
  text-align: center;
}
