body {
  font-family: "Montserrat", sans-serif;
  background: #000000;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #ffffff;
  min-height: 100vh;
  background:
    linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)),
    url("/assets/trawnik.webp");
  background-size: cover;
  background-position: center;
  text-align: center;
}

h1 {
  font-weight: bold;
  font-size: 3rem;
}

h2 {
  font-size: 1.5rem;
  animation: letterFadeIn 1.5s ease-out;
}

p {
  font-size: 1.5rem;
  animation: letterFadeIn 1.5s ease-out;
}

.info {
  font-size: 1rem;
  display: block;
  margin-bottom: 25px;
  width: 90%; 
  max-width: 800px; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  word-wrap: break-word;
}

.source {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #ffffffa7;
  display: block;
  text-align: right;
}

hr {
  color: #ffffff;
  width: 90%;
}
.letter {
  display: inline-block;
  opacity: 0;
  animation: letterFadeIn 0.1s ease forwards;
}

@keyframes letterFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.links a {

  display:block;
}
.image-container {
  width: 80%; /* Musi być określona szerokość (px, %, lub calc) */
  margin-left: auto;
  margin-right: auto;
  height: 600px;
  background-color: grey;
  border-radius: 20px;
}


.authors {
  font-size: 0.8rem;
  margin-bottom: 10px;
  color: #ffffffa7;
  display: block;
  text-align: center;
}